extends layout

block content
  img.img-fluid(src='images/about/bit.png', alt='Responsive image')
  .row
   .col-sm
    img(src='images/Boxes/box1.png', width='97%')
   .col-sm
    img(src='images/Boxes/box2.png', width='97%')
   .col-sm
    img(src='images/Boxes/box3.png', width='97%')
  .row
    .col-sm
      img(src='images/Boxes/box4.png', width='97%')
    .col-sm
      img(src='images/Boxes/box5.png', width='97%')
    .col-sm
      img(src='images/Boxes/box6.png', width='97%')