extends layout

block content
  // File Name: about.pug
  //Author's Name: Krunalkumar Patel
  // Website Name: http://portfolio.krunapatel.info:3000
  //description: view about page
  img.img-fluid(src='images/about/bit.png', alt='Responsive image')
  .row
   .col-sm
    img(src='images/Boxes/box1.png', width='97%')
   .col-sm
    img(src='images/Boxes/box2.png', width='97%')
   .col-sm
    img(src='images/Boxes/box3.png', width='97%')
  .row
    .col-sm
      img(src='images/Boxes/box4.png', width='97%')
    .col-sm
      img(src='images/Boxes/box5.png', width='97%')
    .col-sm
      img(src='images/Boxes/box6.png', width='97%')
  //added footer
  include partials/footer.pug
