extends layout

block content
  img.img-fluid(src='images/contact.png', alt='Responsive image')
  .cntrcontent
  input.form-control(type='text', name='fullName', placeholder='Enter Your Full Name')
  br
  input.form-control(type='email', name='email', placeholder='Enter Your Email')
  br
  input.form-control(type='tel', name='tel', placeholder='Enter Your Mobile Phone Number')
  br
  input.form-control(type='text', name='website', placeholder='Enter Your Website address if any')
  br
  textarea.form-control(name='msg', placeholder='Enter Your Message which you want to send')
  br
  input.btn.btn-primary(type='submit', name='submit', value='Send Message')


  

