extends layout

block content
  img.img-fluid(src='images/myprojects.png', alt='Responsive image')
  h3
  .cntrcontent
    Check Out My GitHub For My Latest Projects
  br
  br
  .text-center
  a(href='https://github.com/KrunalPatel99')
    .cntrcontent
      img.git(src='images/GitHub-Mark.png', width='25%')
  br
  br
  .text-center
  .h3
    .cntrcontent More Projects
  .row
   .col-sm
      img(src='images/projects/one.png', width='80%')
      a(href='https://whispersofmyheart.com/')
        h3 My Blog
   .col-sm
      img(src='images/projects/two.png', width='80%')
      a(href='https://uniqueproviders.com/')
        h3 Duct Cleaning Service
   .col-sm
      img(src='images/projects/three.png', width='80%')
      a(href='https://luxuriousautodetailing.com')
        h3 Auto Detailing Service
   br
  include partials/footer.pug



