extends layout

block content
  // File Name: services.pug
  //Author's Name: Krunalkumar Patel
  // Website Name: http://portfolio.krunapatel.info:3000
  //description: view the service page
  img.img-fluid(src='images/services.png', alt='Responsive image')
  .row
  .col-sm
    h3 Custom Website Design
  .col-sm
    h3 WordPress & Shopify
  .col-sm
    h3 Digital Contant Creation
  //added footer
  include partials/footer.pug

