extends layout

block content
  img.img-fluid(src='images/services.png', alt='Responsive image')
  .row
  .col-sm
    h3 Custom Website Design
  .col-sm
    h3 WordPress & Shopify
  .col-sm
    h3 Digital Contant Creation
  include partials/footer.pug

